@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a href="~/favicon.ico" target="_blank">Resume</a></p>
    <p><a href="https://www.linkedin.com/in/beanie-cazier/">LinkedIn Profile</a></p>
    <p><a href="https://github.com/beaniecazier">Github Profile</a></p>
</div> *@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiabeanie Cazier - Software Engineer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/superhero/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Tiabeanie Cazier</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#professional-summary">Summary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#work-experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#certifications">Certifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://drive.google.com/file/d/1Jk6jbaQ0iNa8XKDxw9wKPmuylgA_4ocS/view?usp=sharing"
                       target="_blank" rel="noopener noreferrer">Resume</a>
                </li>
                @* <a class="block hover:text-slate-200" href="https://www.linkedin.com/in/beanie-cazier/" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn (opens in a new tab)" title="LinkedIn"><span class="sr-only">LinkedIn</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-6 w-6" aria-hidden="true"><path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"></path></svg></a> *@
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/beanie-cazier/" target="_blank"
                       rel="noopener noreferrer">
                        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" style="width: 20px;">
                        @* <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-linkedin"
                        viewBox="0 0 16 16">
                        <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z" />
                        </svg> *@
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <section id="professional-summary">
        <div class="container mt-5">
            <h2>About</h2>
            <p>Results and testing -oriented Software Engineer specializing in C# and Python. Skilled in maintaining and enhancing web applications using ASP.NET and MVC, as well as database management with SQL Server. Experienced in developing and maintaining complex software systems, including test stand software, automation tools, and predictive maintenance solutions. Collaborated with cross-functional teams to design, build, and enhance technical solutions. Adept at integrating advanced technologies like ChatGPT and wide-band radio communication to optimize performance and functionality.</p>
        </div>
    </section>

    <br />

    <section id="skills">
        <h2>Skills</h2>
        <ul>
            <li>Programming Languages: C#, Python</li>
            <li>Web Development: ASP.NET, MVC</li>
            <li>Database Management: SQL Server</li>
            <li>Software Development: .NET Framework, WinForms, WPF, MVVM</li>
            <li>Tools and Technologies: ChatGPT integration, PI Data Historian, Wide-band radio communication</li>
        </ul>
    </section>
    <section id="education">
        <h2>Education</h2>
        <p><strong>Portland State University</strong>, Portland, OR<br>Bachelor of Science in Computer Engineering, June 2019</p>
    </section>
    <section id="work-experience">
        <h2>Work Experience</h2>
        <div>
            <h3>Energy Storage Solutions Inc, Wilsonville, OR</h3>
            <h4>Associate Software Engineer</h4>
            <p>October 2021 - June 2023</p>
            <ul>
                <li>Maintained and enhanced the functionality of software used on test stands for the company’s main product, its batteries.</li>
                <li>Served as the sole maintainer and software engineer for the test stand software project.</li>
                <li>Collaborated with other engineers to design and build new test stands, implementing new software patches and features to meet evolving testing needs.</li>
                <li>Developed and maintained a website in C# using ASP.NET, interfacing with a SQL Server to allow the Test team to modify scripts and instrument configurations.</li>
                <li>Created and maintained test stand software in C# using .NET Framework and WinForms, managing device configurations, automated control, and manual control of valves.</li>
                <li>Ensured the software recorded data, calculated values, and transmitted data to a PI data historian service.</li>
                <li>Implemented various control mechanisms, including bang-bang, PID controllers, and custom controllers.</li>
                <li>Developed and maintained various small software tools to automate tasks for engineers, including testing connections to battery systems and controllers deployed worldwide, and retrieving logs and data from these systems.</li>
                <li>Created a tool to format and parse interval company-side data into client-side friendly formats.</li>
                <li>Maintained and enhanced the company's data viewing tool.</li>
                <li>Improved the company's software tool used by test and QA engineers to test and verify the final built battery systems before shipment to customers.</li>
            </ul>
        </div>
        <div>
            <h3>
                Stanley Infrastructure, Milwaukie, OR</h4>
                <h4>Electrical Software Engineering Intern</h4>
                <p>July 2018 - September 2018</p>
                <ul>
                    <li>Assisted in adding predictive analysis through machine learning techniques to read sensor data and camera feeds from industrial mobile shear attachments.</li>
                    <li>Conducted research to identify suitable cameras for the setup.</li>
                    <li>Analyzed historical data using Python to detect patterns and assess feasibility.</li>
                    <li>Developed an Android app in Java for trained operators to record activities and gather baseline data.</li>
                    <li>Collaborated with the machine learning team to develop a predictive maintenance plan.</li>
                </ul>
        </div>
        <div>
            <h3>SBM Cleaning Solutions (Contract through Aerotek), Hillsboro, OR</h3>
            <h4>Cleaner</h4>
            <p>July 2016 - October 2016</p>
            <ul>
                <li>Maintained specified sterilization/cleanliness standards in a clean room (1 part per million).</li>
                <li>Recorded used silicon wafer transport carriers and processed them through a multi-step cleaning and sterilization process.</li>
                <li>Ensured carriers met Intel's standards before reinserting them back into the wafer transport system.</li>
            </ul>
        </div>
    </section>
    <section id=projects>
        <h2>Projects</h2>
        <div>
            <h3>Ocean Discord Bot</h3>
            <p>Developed a Discord bot named Ocean, written in C# and running on a server with a SQL database. Ocean integrates with ChatGPT and has two primary functions:</p>
            <ul>
                <li>Acts as a music player, allowing users to set custom voice channel join and leave sound effects, configurable to be unique to each voice channel.</li>
                <li>Uses ChatGPT to create unique dialogue and tarot card readings, role-playing as a fake mystic inspired by a Pathfinder character.</li>
            </ul>
        </div>
        <div>
            <h3>Disaster Communication Network Capstone</h3>
            <p>Developed a deployable communications tower system as part of a group capstone project for a bachelor’s degree. The project aimed to provide a cell tower substitute in disaster-affected areas. The system consisted of three parts:</p>
            <ul>
                <li>A server connected to a small wide-band radio tower.</li>
                <li>An app that users could download to link their phones to the server.</li>
                <li>The server communicated with other servers to create a wide-area ad hoc network, allowing users to create chat groups and send messages to each other and outside the disaster area via radio bands.</li>
            </ul>
            <p>Responsibilities:</p>
            <ul>
                <li>Developed the app using Java and Android core libraries.</li>
                <li>Implemented the full app lifecycle, including notifications, background processes, and network communication to and from the server.</li>
                <li>Provided a clean, simple user interface for an optimal user experience.</li>
            </ul>
        </div>
    </section>
    <section id=certifications>
        <h2>Certifications</h2>
        <ul>
            <li>AWS Certified Solutions Architect, Amazon Web Services, [Month Year]</li>
            <li>Certified Kubernetes Administrator, The Linux Foundation, [Month Year]</li>
            <li>Docker Certified Associate, Docker, Inc., [Month Year]</li>
            <li>Software Architecture Patterns Certification, [Issuing Organization], [Month Year]</li>
        </ul>
    </section>

    <section id="experience" class="mt-5">
        <h2>Experience</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Energy Storage Systems</h5>
                <h6 class="card-subtitle mb-2 text-muted">August 2021 ‒ June 2023</h6>
                <p class="card-text">
                    Associate Software Engineer - Maintained, improved and created software to aid other
                    engineers and technicians with test equipment, and analysis of company product
                </p>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Stanley Infrastructure</h5>
                <h6 class="card-subtitle mb-2 text-muted">July 2018 ‒ September 2018</h6>
                <p class="card-text">
                    Electrical/Software Intern - Developed a machine learning approach to analyze and perform
                    predictive analysis on equipment data
                </p>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">SBM Cleaning Solutions via Aerotek Employment</h5>
                <h6 class="card-subtitle mb-2 text-muted">July 2016 ‒ October 2016</h6>
                <p class="card-text">
                    Washer - Cleaned wafer transport carriers in the clean room at Intel Ronler Acres to the
                    Intels specified standard
                </p>
            </div>
        </div>
    </section>

    <section id="projects" class="mt-5">
        <h2>Projects</h2>
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Emergency Network Mobile Cell Tower</h5>
                <h6 class="card-subtitle mb-2 text-muted">January 2018 - June 2018</h6>
                <p class="card-text">
                    Developed an Android app that allows SMS based communication over wifi between users,
                    using sockets and a TCP connection, through an intermediate server/communication tower that has an APRS
                    antenna. Use of app and server with the APRS allows long range communication during natural disasters when
                    all other communication is out.
                </p>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">KHR1 Pose Mirroring Robot Using a Microsoft Kinect</h5>
                <h6 class="card-subtitle mb-2 text-muted">January 2018 - June 2018</h6>
                <p class="card-text">
                    Worked with my PSU Robotics clubmates to build a small humanoid robot that became the
                    club's premiere demo robot. The main controller program, written in C#, reads skeleton data from a Microsoft
                    Kinect, translates that into angles in 3D space to beam to the KHR1 with the goal of having the robot
                    mirror the pose of whoever is standing in front of the Kinect.
                </p>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Thermal Imaging Augmented Reality Heads Up Display</h5>
                <h6 class="card-subtitle mb-2 text-muted">September 2017 - December 2017</h6>
                <p class="card-text">
                    Wrote the code to translate data from an IR Camera over I2C into a color image using
                    BiCubic Interpolation and then send that new data over a SPI connection to be displayed on an 96x96 OLED
                    screen. Code was implemented on an Atmel ATmega328P-AU TQFP chip. Helped design and 3D print the enclosure
                    for the device.
                </p>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script> *@
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
